<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Displaying {{ users.length}} <b>user(s).</b></h4>
        <div class="add-button-top pull-right">
            <button routerLink="/admin/users/new" type="button" class="btn btn-success" name="button">+ Add user
            </button>
        </div>
    </div>

    <div class="panel-body">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Position</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let user of users">
                <td>
                    {{user.id}}
                </td>
                <td>
                    {{user.first_name}}
                </td>
                <td>
                    {{user.last_name}}
                </td>
                <td>
                    {{user.email}}
                </td>
                <td>
                    {{user.position}}
                </td>
                <td>
                    <!--if can have only one role-->
                    <!--{{user.roles[0].name}}-->
                    <!--if can have many roles-->
                    <span *ngFor="let role of user.roles">{{ role.name }}</span>
                </td>
                <td>
                    <button [routerLink]="['/admin/users', user.id]" type="button" class="btn btn-info btn-sm"
                            name="button"><span class="glyphicon glyphicon-edit"></span></button>
                    <button (click)="onDelete(user)" type="button" class="btn btn-danger btn-sm" name="button"><span
                            class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        </table>
    </div>
</div>