<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            Add new post
        </div>
        <div class="panel-body">
            <form (ngSubmit)="onCreate(f)" #f="ngForm">

                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="title" value="" ngModel required>
                </div>

                <div class="form-group">
                    <label for="text">Text</label>
                    <input class="form-control" type="text" id="text" name="text" value="" ngModel required>
                </div>

                <div class="form-group">
                    <button type="submit" [disabled]="!f.valid" class="btn btn-success" name="'button">Create post
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
