<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Users</h4>
        <div class="add-button-top pull-right">
            <button routerLink="../add-user" type="button" class="btn btn-success" name="button">+ Add user</button>
        </div>
    </div>

    <div class="panel-body">
        <table class="table">
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Position</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let user of users">
                <td>
                    {{user.first_name}}
                </td>
                <td>
                    {{user.last_name}}
                </td>
                <td>
                    {{user.email}}
                </td>
                <td>
                    {{user.position}}
                </td>
                <td>
                    Edit | Delete
                </td>
            </tr>
        </table>
    </div>
</div>