<div class="blog" >
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Blog</h2>
    </div>
  </div>
  <div class="panel panel-default" *ngFor="let post of posts">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-8 text-left">

          <h3> <a routerLink="{{post.id}}">{{post.title}}</a></h3>
          <h3 class="panel-title" >Post by: {{post.user_name['first_name']}}{{'  '}}{{post.user_name['last_name']}}</h3>

        </div>
        <div class="col-md-4 text-right">
          <h6> {{post.created_at |date : 'MMMM d, y'}}</h6>
        </div>

      </div>

      <!--<div class="pull-left"></div>-->
      <!--<div class="pull-right"> <h3 class="panel-title"> <a routerLink="{{post.id}}">{{post.title}}  </a></h3></div>-->
    </div>
    <div class="panel-body">
      {{post.text}}
    </div>
  </div>
</div>