.add-button-top{
    margin-top: -35px;
}

.side-form {
    position: absolute;
    z-index: 100;
    background: #fff;
    top:0;
    right: 0;
    width: 80%;
    height: 100%;
    overflow: auto;
    padding: 20px;
    border-left: 1px solid #e0e0e0;
}

.hero-spacer{
    background-image: url("/assets/img/doctorheader.jpg");
}